/* html{
  height: 100vh;
} */

/* body, .root{
  height: 100vh; /* force the BODY element to match the height of the HTML element 
} */

.App {
  /* height: 100vh; */
  /* text-align: center; */
}

.color-dark {
  background-color: blue;
}

.height-max {
  /* height: 100vh; */
}
/* .sidenav {
  width: 100px;
} */

/* .page {
  padding: 0px;
  padding-left: 300px;
} */

/* @media only screen and (max-width : 992px) {
.page {
    padding-left: 0;
  }
} */