html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* little fix, default margin-left: 10px */
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin: 0 !important;
}

.AppList {
  /* border: 5px dashed blue; */
}